.prose
  %p
    %strong Goal: Monitor our own collective pulse on a few core metrics.

  %p We'll do this by hitting you up every Friday morning for a ten-second review. Couple clicks, that's it. (You'll have the chance to add more comments too, if you want.)

  %p The data belongs to you. We'll publish anonymized summaries every Monday morning.

- if Rails.env.development?
  %hr

  = form_tag :hit_me do
    .prose
      %p Dev mode! Need a survey?
    %form
      %div= email_field :user, :email, placeholder: 'foobar@enova.com'
      .submit= submit_tag 'Yes.'