$progress-height: $grid-gutter-width / 2;
$step-height: 260px;
$rating-height: 50px;
$actions-height: 20px;

.submission-form-wrapper {
  background: rgba(#000, 0.1);
  border-radius: 3px;
  padding: $grid-gutter-width;
}

.submission-form {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(#000, 0.1);
  position: relative;

  section {
    padding: $grid-gutter-width/2 $grid-gutter-width;
    position: relative;
    @include clearfix;

    header {
      font-size: $font-size-h3;
      margin-bottom: $line-height-computed/2;
      color: #555;

      small {
        display: block;
        opacity: 0.8;
        font-style: normal;
        font-size: $font-size-h4;
      }
    }

    .content {
      @include clearfix;

      margin-bottom: $grid-gutter-width * 0.8 + $progress-height + $grid-gutter-width * 0.8;
    }
  }

  .steps {
    margin: 0;
    display: table;
    table-layout: fixed;
    width: 100%;

    .step {
      vertical-align: top;
      text-align: center;
      display: table-cell;
      border: 0;
      width: 100%;

      &.intro {
        p {
          &.timeframe {
            color: #555;
            margin-top: 10px;
          }

          &.intro {
            color: #666;
            line-height: 18px;
          }
        }

        .tags {
          white-space: nowrap;
          margin-top: 10px;

          label, input {
            padding: 4px;
            display: inline;
            width: auto;
          }

          label {
            &:after {
              content: ':';
            }
          }

          input {
            display: inline;
            border-color: rgba(#000, 0.1);
            transition: border-color 0.2s;
            min-width: 30px;
            margin: 0;

            &.autosized {
              transition: width 0.2s;
            }

            &:focus {
              border-color: rgba(#000, 0.3);
            }
          }
        }

        .actions {
          text-align: center;

          .action-next {
            display: inline-block;
            float: none;
            width: auto;

            // haaaack
            a {
              opacity: 1;
            }

            .fa {
              color: $brand-primary;
            }
          }
        }
      }

      .actions {
        @include clearfix;
        text-align: center;
        line-height: 20px;
        height: $actions-height;
        position: absolute;
        bottom: $grid-gutter-width * 0.8 + $progress-height;
        left: $grid-gutter-width;
        right: $grid-gutter-width;

        > div {
          a {
            text-decoration: none;
            color: #888;
            cursor: pointer;
          }

          &:hover {
            opacity: 1;
          }
        }
      }

      .action-comment, .action-next {
        width: 50%;
        padding: 0 10px;
        float: left;
        position: relative;
        transition: all 0.1s;
        top: 2px;

        a {
          opacity: 0.8;
          transition: all 0.1s;
        }

        .fa {
          font-size: 1.3em;
          padding: 0 10px;
        }
      }

      .metric.completed {
        .action-comment, .action-next {
          top: 0;

          a {
            opacity: 1;
          }
        }
      }

      .action-comment {
        text-align: right;

        .fa {
          color: #999;
        }
      }

      .action-next {
        text-align: left;

        .fa {
          transition: all 0.05s;
        }

        .skip {
          display: none;
        }
      }

      .metric.optional {
        .action-next {
          .next {
            display: none;
          }

          .skip {
            display: inline;
          }
        }
      }

      .metric.completed.optional {
        .action-next {
          .next {
            display: inline;
          }

          .skip {
            display: none;
          }
        }
      }

      .metric.completed .action-next .fa {
        color: $brand-primary;
      }

      .action-previous {
        position: absolute;
        left: 0;
        bottom: 0;

        a {
          display: block;
          opacity: 0.5;
          transition: all 0.05s;
          padding: 0 5px;

          &:hover {
            opacity: 0.8;
          }
        }

        .fa {
          color: #999;
        }
      }

      .action-submit {
        position: relative;
        bottom: 10px;

        .btn {
          min-width: 40%;
        }
      }

      &:first-child {
        .action-previous {
          display: none;
        }
      }

      .comments {
        @include clearfix;
        display: none;
        margin-top: $grid-gutter-width / 2;
      }

      .rating-value {
        display: none;
      }

      &.final {
        .comments {
          display: block;
        }
      }

      &.submitting {
        padding-top: 75px;

        .fa {
          font-size: 30px;
          color: #999;
        }
      }
    }
  }

  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $progress-height;
    margin: 0;
    background: #ddd;
    cursor: pointer;
    @include border-radius(0 0 3px 3px);
    overflow: hidden;
    z-index: 1;

    .meter {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      min-width: 10px;
      background: $brand-primary;
    }
  }

  h2 {
    margin-bottom: 0.25em;

    + p > em {
      color: #555;
    }
  }

  .metric-description {
    color: #999;
    margin-bottom: $grid-gutter-width * 0.75;
  }

  .rating {
    @include noselect;

    height: $rating-height;
    line-height: $rating-height;
  }

  .rating-bookend {
    display: inline-block;
    font-size: 1.4em;
    color: #888;
    padding: 0 0.5em;
    cursor: pointer;
  }

  .rating-option {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    transition: all 0.1s;

    input {
      display: none;
    }

    label {
      @include button($brand-primary);
      color: rgba(#fff, 0.8);
      font-size: 1.4em;
      cursor: pointer;

      position: relative;
      margin: 0;
      z-index: 100;
      height: 40px;
      line-height: 40px;

      transition: all 0.1s;

      -ms-touch-action: manipulation;
      touch-action: manipulation;
    }

    input:checked + label {
      height: 50px;
      line-height: 50px;
      text-shadow: 0 1px 1px rgba(#000, 0.5);
      color: rgba(#fff, 0.95);
      box-shadow: inset 0 -4px 5px -3px rgba(#000, 0.2);
    }

    .previous-rating-marker {
      position: absolute;
      line-height: 1em;
      font-size: 90%;
      margin: 0.3em 0 0 20px;
      opacity: 0.5;
      white-space: nowrap;

      span {
        opacity: 0;
        transition: all 0.075s;
      }

      &:hover span {
        opacity: 1;
      }
    }
  }

  .rating.rated .rating-option {
    label {
      opacity: 0.6;
    }

    input:checked + label {
      opacity: 1;
    }
  }

  .step.final {
    .user-manager, .user-name, .comments {
      margin: 0 0 1em 0;

      em {
        display: block;
        color: #888;
        font-style: italic;
      }

      label:first-child {
        margin-bottom: 0.5em;
      }
    }
  }

  .comments {
    @include clearfix;
    padding: 0 0 0 0.5em;

    label {
      text-align: left;
    }

    textarea {
      display: block;
      width: 93%;
      float: left;
    }

    .public {
      display: block;
      width: 6%;
      float: right;
      position: relative;
      padding-top: 1.5em;
      text-align: center;
      cursor: pointer;

      input[type=checkbox] {
        & + .icon:before {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          font-family: FontAwesome;
          content: '\f070';
          color: #555;
        }

        &:checked + .icon:before {
          content: '\f06e';
          color: #333;
        }
      }
    }
  }
}