footer.main {
  background: #777;
  padding: 10px 0 20px;
  text-shadow: 0 2px 2px rgba(#000, 0.4);

  color: $gray-lighter;

  .container {
    opacity: 0.8;
  }

  a {
    color: lighten($brand-primary, 100);
    text-decoration: underline;
  }

  span {
    margin-left: 20px;
  }
}