.comments {
  list-style: none;
  margin: 0;
  padding: 0;
}

$indent: 22px;

.comment {
  text-indent: -1 * $indent;
  margin-left: $indent;

  .author {
    display: inline-block;
    color: $gray;
    margin-left: $indent;

    &:before {
      content: '\2013';
      margin: 0 0.2em;
    }
  }

  .content {
    display: inline;

    p {
      display: inline;
      color: $gray-dark;
    }

    &:before {
      display: inline;
      font-family: 'FontAwesome';
      color: $gray-light;
      margin: 0 0.5em 0 0;
      content: '\f10d';
    }
  }
}
