@import 'mixins';

textarea, input {
  border: 1px #bbb solid;
  border-bottom-color: #888;
  border-radius: 3px;
  padding: 0.5em;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

input[type=submit] {
  @include button(#48995C);
}

input[type=checkbox] {
  width: auto;
}

label + textarea, label + input {
  margin-top: 0.2em;
}

form {
  .input, .submit {
    margin-top: 1em;
  }
}

form + p {
  margin-top: 20px;
}

.input {
  label + select {
    margin-left: 10px;
  }

  input.statebox {
    float: right;
  }

  .collection {
    @include clearfix;

    label {
      display: block;
      width: 120px;
      margin-right: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      float: left;

      input {
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
}