body {
  background: #fafafa;
}

body > .container {
  margin: 1em auto;
  padding: 1em;
  background: #fff;
  text-align: center;

  max-width: 600px;

  > header {
    margin-bottom: 1em;

    .logo {
      font-size: 1.4em;
      font-weight: bold;
    }

    .user {
      font-size: 0.9em;
      color: #999;
    }
  }

  .flash {
    background: #ffface;
    padding: 0.5em;
    margin: 1em 0;
    box-radius: 3px;
  }
}
