@import 'mixins';

$header-height: 40px;

body {
  background: #fafafa;
  margin: 0;
  padding: 0;
}

body > .container {
  margin: 0 auto;
  transition: all 0.1s;
  position: relative;

  @media all and (max-width: 775px) {
    margin: 0 5% 0 20%;
    width: auto;
  }

  @media all and (min-width: 775px) {
    margin: 0 auto;
    width: 575px;
  }

  @media all and (max-width: 600px) {
    margin: 0 auto;
    width: auto;
  }


  > header {
    transition: all 0.1s;
    position: relative;
    opacity: 0.8;
    height: $header-height;

    a {
      color: #777;
    }

    .logo {
      opacity: 0.9;
      padding: 10px 15px;
      transition: all 0.1s;

      a {
        text-decoration: none;
        color: #333;
      }

      span {
        display: inline-block;
        margin-right: 10px;
      }

      .heartbeat {
        font-size: 18px;
        font-weight: bold;
        color: darken($blue, 20);
      }

      .tenant {
      }
    }

    .user {
      position: absolute;
      top: 7px;
      right: 5px;
      padding: 5px 0 5px 10px;
      border-radius: 3px;

      font-size: 0.9em;

      .fa {
        text-decoration: none;
        margin-left: 10px;
        padding: 0 5px;
      }
    }
  }

  > nav {
    padding: 0 10px;
    opacity: 0.8;
    transition: opacity 0.1s;

    @media all and (min-width: 600px) {
      $width: 20%;
      width: $width;
      position: absolute;
      top: $header-height + 10px;

      &.main {
        left: calc(#{-1 * $width} - 10px);
        text-align: right;
      }

      &.user {
        right: calc(#{-1 * $width} - 10px);
        text-align: left;
      }

      &:hover {
        opacity: 1;
      }
    }

    ul {
      margin: -5px -5px 5px;

      li {
        display: inline-block;

        a, span {
          color: #555;
          text-decoration: none;
          display: block;
          padding: 5px 10px;
          transition: all 0.1s;
          opacity: 0.8;
        }

        a:hover {
          opacity: 1;
        }
      }

      @media all and (min-width: 600px) {
        li {
          display: block;
          border-bottom: 1px rgba(#000, 0.1) solid;
        }
      }
    }
  }

  .flashes {
    .flash {
      background: #ffface;
      padding: 0.5em;
      margin: 0 0 1em 0;
      box-radius: 3px;
    }
  }

  > .content {
    position: relative;
    padding: 10px 15px 20px 15px;
    background: #fff;
    border-radius: 3px;
    border-top: 1px #eee solid;
    box-shadow: 0 0 2px rgba(#000, 0.1);
    border-bottom: 4px $blue solid;
    min-height: 150px;

    > header {
      @include clearfix;

      h1 {
        float: left;
        line-height: 20px;
      }

      nav {
        float: right;
        line-height: 20px;

        a {
          color: #999;
        }

        ul {
          li {
            display: inline-block;
            margin-left: 10px;
          }
        }
      }
    }
  }

  > footer {
    padding: 1em;
    margin-bottom: 1em;
    font-size: 0.9em;
    text-align: center;

    span {
      color: #888;
      margin: 0 5px 5px;
      display: inline-block;
    }

    a {
      color: #999;
    }
  }
}
