@import 'mixins';

.result {
  .timeframe {
    font-style: italic;
    margin: 0 0 -1em 0;
  }

  .previous-link {
    float: left;
  }

  .next-link {
    float: right;
  }

  .previous-link, .next-link {
    margin: -0.4em 0.5em;

    a, span {
      display: block;
      padding: 0.2em 0.5em;
      text-decoration: none;
    }
  }

  .summary {
    overflow: hidden;
    padding-top: 1em;
    margin-bottom: -1em;

    ul {
      clear: both;

      li {
        > * {
          display: inline;
          margin-right: 0.5em;
        }

        .label {
          font-weight: bold;
        }

        .value {
          font-weight: bold;
        }

        .context {
          color: #999;
        }
      }
    }
  }

  .result-metric {
    text-align: left;

    header {
      margin-bottom: 15px;
      margin-left: 20px;

      h1 {
        display: inline;
        font-weight: bold;
        color: #777;
        margin: 0;
      }
    }

    .data {
      @include clearfix;
      clear: both;
      height: 50px;

      > * {
        display: block;
        height: 50px;
        float: left;
      }

      .bar-chart {
        width: 100px;
        margin: 0 20px 0 0;
      }

      .rating {
        width: 90px;
        line-height: 50px;
        font-size: 50px;
        text-align: center;
      }

      .sparkline {
        width: 100px;
        margin-left: 50px;
      }

      ul.stats {
        width: 150px;
        list-style: none;
        margin: 0 0 0 10px;
        padding: 5px 0 0 0;

        li {
          display: block;
          float: left;
          font-size: 1.2em;
          color: #999;
          margin: 0 0 3px 0;
          padding: 0;
          width: 50%;
          cursor: default;

          &:nth-child(2n-1) {
            clear: left;
          }

          .fa {
            &:before {
              opacity: 0.8;
              text-align: center;
              width: 1em;
              display: inline-block;
              margin-left: 0.5em;
            }
          }
        }
      }
    }

    .comments {
      clear: both;
    }
  }

  .definitions {
    opacity: 0.8;

    dl {
      text-align: left;
      margin: 0 20px;

      dt {
        font-weight: bold;
        color: #555;
      }

      dd + dt {
        margin-top: 20px;
      }

      dd {
      }
    }
  }

  .comments {
    @include clearfix;

    margin: 20px;
    text-align: left;

    &.none {
      color: #777;
      font-size: 0.9em;
    }

    li {
      margin-bottom: 0.5em;
      line-height: 1.5em;

      .author {
        display: inline-block;
        color: #999;

        &:before {
          content: '\2013';
          margin: 0 0.2em;
        }
      }

      .content {
        display: inline;

        p {
          display: inline;
          color: #555;
        }

        &:before {
          display: inline;
          font-family: 'FontAwesome';
          color: #999;
          margin: 0 0.5em 0 0;
          content: '\f10d';
        }
      }
    }
  }

  section {
    padding-top: 2em;
    margin-top: 2em;
    border-top: 1px #ccc solid;
  }
}