.result {
  .timeframe {
    font-style: italic;
    margin: 0 0 -1em 0;
  }

  .summary {
    overflow: hidden;
    padding-top: 1em;

    .result-metric {
      display: block;
      float: left;
      text-align: left;
      padding: 1em 0 1em 8%;
      width: 50%;
      text-decoration: none;
      color: #333;

      .name {
        display: block;
        font-weight: bold;
        color: #777;
      }

      .rating {
        font-size: 4em;
        height: 1em;
        line-height: 1em;
        display: block;
        float: left;
      }

      .delta, .confidence {
        display: block;
        font-size: 1.2em;
        color: #999;

        .fa {
          &:before {
            opacity: 0.8;
            text-align: center;
            width: 1em;
            display: inline-block;
            margin-left: 0.5em;
          }
        }
      }

      .delta {
        margin-top: 0.7em;
      }
    }

    .stats {
      opacity: 0.8;
      clear: both;
      padding-top: 1em; // floats! bah.

      li {
        > * {
          display: inline;
          margin-right: 0.5em;
        }

        .label {
          font-weight: bold;
        }

        .value {
          font-weight: bold;
        }

        .context {
          color: #999;
        }
      }
    }
  }

  .comments {
    margin: 1em 2em 3em;
    text-align: left;

    &.none {
      font-style: italic;
      color: #777;
      text-align: center;
      font-size: 0.9em;
    }

    li {
      margin-bottom: 2em;

      .content {
        &:before, &:after {
          font-family: 'FontAwesome';
          display: block;
          color: #999;
          width: 1em;
          text-align: center;
        }

        &:before {
          float: left;
          margin-right: 1em;
          margin-left: -1em;
          content: '\f10d';
        }

        &:after {
          float: right;
          margin-left: 1em;
          content: '\f10e';
        }
      }

      .author {
        font-style: italic;
        margin: 0.2em 2em 0.2em -1em;
        padding-left: 0.5em;
        height: 0.7em;
        border-bottom: 1px #ddd solid;
        color: #777;

        span {
          display: inline-block;
          height: 1em;
          padding: 0 0.5em;
          margin-left: 1em;
          background: #fff;
        }
      }
    }
  }

  section {
    padding-top: 2em;
    margin-top: 2em;
    border-top: 1px #ccc solid;

    h1 {
      margin: 0;
      font-size: 1.2em;
      color: #555;
      text-align: center;
    }

    .description {
      color: #999;
    }

    .count {
      font-style: italic;
      color: #888;
    }

    .chart {
      margin: 0 0 1em 0;
    }
  }
}