@import 'mixins';

.submission {
  &.completed {
    margin: 0 10% 1em;
  }

  &.spotlight {
    overflow: hidden;
    margin: 0 -1em;

    .steps {
      margin: 0;
      white-space: nowrap;

      .step {
        @include clearfix;
        vertical-align: top;
        text-align: center;
        display: inline-block;
        white-space: normal;
        min-height: 185px;
        position: relative;
        border: 0;
        padding: 10px 20px 0;

        &.intro {
          padding-top: 5px;

          h3 {
            em {
              display: block;
              opacity: 0.8;
              font-style: normal;
              font-size: 90%;
            }
          }

          p {
            &.timeframe {
              color: #555;
              margin-top: 10px;
            }

            &.intro {
              color: #666;
              line-height: 18px;
            }
          }

          .actions {
            text-align: center;

            .action-next {
              display: inline-block;
              float: none;
              width: auto;

              // haaaack
              a {
                opacity: 1;
              }

              .fa {
                color: blue;
              }
            }
          }
        }

        .metric {
          margin-bottom: 1.3em;
          padding-bottom: 1em;
        }

        .metric-description {
          min-height: 3em;
        }

        .actions {
          @include clearfix;
          text-align: center;
          line-height: 20px;
          position: absolute;
          bottom: 10px;
          left: 10px;
          right: 10px;

          > div {
            a {
              text-decoration: none;
              color: #888;
              cursor: pointer;
            }

            &:hover {
              opacity: 1;
            }
          }
        }

        .action-comment, .action-next {
          width: 50%;
          padding: 0 10px;
          float: left;
          position: relative;
          transition: all 0.1s;
          top: 2px;

          a {
            opacity: 0.8;
            transition: all 0.1s;
          }

          .fa {
            font-size: 1.3em;
            padding: 0 10px;
          }
        }

        .metric.completed {
          .action-comment, .action-next {
            top: 0;

            a {
              opacity: 1;
            }
          }
        }

        .action-comment {
          text-align: right;

          .fa {
            color: #999;
          }
        }

        .action-next {
          text-align: left;

          .fa {
            transition: all 0.05s;
          }

          .skip {
            display: none;
          }
        }

        .metric.optional {
          .action-next {
            .next {
              display: none;
            }

            .skip {
              display: inline;
            }
          }
        }

        .metric.completed.optional {
          .action-next {
            .next {
              display: inline;
            }

            .skip {
              display: none;
            }
          }
        }

        .metric.completed .action-next .fa {
          color: $blue;
        }

        .action-previous {
          position: absolute;
          left: 0;
          bottom: 0;

          a {
            display: block;
            opacity: 0.5;
            transition: all 0.05s;
            padding: 0 5px;

            &:hover {
              opacity: 0.8;
            }
          }

          .fa {
            color: #999;
          }
        }

        .action-submit {
          margin: 0 20%;

          input {
          }
        }

        &:first-child {
          .action-previous {
            display: none;
          }
        }

        .comments {
          @include clearfix;

          display: none;
          padding-bottom: 15px;
        }

        .rating-value {
          display: none;
        }

        &.final {
          padding-top: 0.5em;

          .comments {
            display: block;
          }
        }

        &.submitting {
          padding-top: 75px;

          .fa {
            font-size: 30px;
            color: #999;
          }
        }
      }
    }
  }

  .progress {
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0;
    height: 1em;
    background: #ddd;
    cursor: pointer;
    @include border-radius(0 0 3px 3px);
    overflow: hidden;

    .meter {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 0;
      min-width: 10px;
      background: $blue;
    }
  }

  h2 {
    margin-bottom: 0.25em;

    + p > em {
      color: #555;
    }
  }

  .metric-name {
    font-size: 1.2em;
    color: #555;

    .count {
      color: #bbb;
      font-size: 0.9em;
      margin-left: 0.5em;
      display: inline;
    }
  }

  .metric-description {
    color: #999;
  }

  .rating {
    @include noselect;

    height: 50px;
    line-height: 50px;
    margin: 0 0.5em 1.5em;
  }

  .rating-bookend {
    display: inline-block;
    font-size: 1.4em;
    color: #888;
    padding: 0 0.5em;
    cursor: pointer;
  }

  .rating-option {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    transition: all 0.1s;

    input {
      display: none;
    }

    label {
      @include button($blue);
      color: rgba(#fff, 0.8);
      font-size: 1.4em;
      cursor: pointer;

      position: relative;
      margin: 0;
      z-index: 100;
      height: 40px;
      line-height: 40px;

      transition: all 0.1s;

      -ms-touch-action: manipulation;
      touch-action: manipulation;
    }

    input:checked + label {
      height: 50px;
      line-height: 50px;
      text-shadow: 0 1px 1px rgba(#000, 0.5);
      color: rgba(#fff, 0.95);
      box-shadow: inset 0 -4px 5px -3px rgba(#000, 0.2);
    }

    .previous-rating-marker {
      position: absolute;
      line-height: 1em;
      font-size: 90%;
      margin: 0.3em 0 0 20px;
      opacity: 0.5;
      white-space: nowrap;

      span {
        opacity: 0;
        transition: all 0.075s;
      }

      &:hover span {
        opacity: 1;
      }
    }
  }

  .rating.rated .rating-option {
    label {
      opacity: 0.6;
    }

    input:checked + label {
      opacity: 1;
    }
  }

  .step.final {
    .user-manager, .user-name, .comments {
      margin: 0 0 1em 0;

      em {
        display: block;
        color: #888;
        font-style: italic;
      }

      label:first-child {
        margin-bottom: 0.5em;
      }
    }
  }

  .comments {
    @include clearfix;
    padding: 0 0 0 0.5em;

    textarea {
      display: block;
      width: 93%;
      float: left;
    }

    .public {
      display: block;
      width: 6%;
      float: right;
      position: relative;
      padding-top: 1.5em;
      text-align: center;
      cursor: pointer;

      input[type=checkbox] {
        & + .icon:before {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          font-family: FontAwesome;
          content: '\f070';
          color: #555;
        }

        &:checked + .icon:before {
          content: '\f06e';
          color: #333;
        }
      }
    }
  }
}