@import 'mixins';

.submission {
}

.submission-toggle {
  cursor: pointer;
  padding: 0.5em;

  a {
    color: #999;
  }
}

.submission-form {
  &.complete {
    display: none;
  }

  h2 {
    font-size: 1.2em;
    color: #777;
  }

  .submission-prompt {
    color: #555;
    margin-bottom: 1.5em;
    font-style: italic;
  }

  .metrics-list {
    border-bottom: 1px #ddd solid;
    margin-bottom: 1.3em;
    padding-bottom: 1em;

    li {
      @include noselect;

      display: inline-block;
      color: #999;
      text-decoration: underline;
      cursor: pointer;
      margin: 0 0.5em;
      padding: 1em;

      &.expanded {
        opacity: 0.5;
        text-decoration: none;
      }
    }
  }

  .metric {
    margin-bottom: 1.3em;
    border-bottom: 1px #ddd solid;
    padding-bottom: 1em;
  }

  .metric-name {
    font-size: 1.2em;
    color: #555;

    .count {
      color: #bbb;
      font-size: 0.9em;
      margin-left: 0.5em;
      display: inline;
    }
  }

  .metric-description {
    color: #999;
  }

  .rating {
    @include noselect;

    height: 50px;
    line-height: 50px;
    margin: 0.5em;
  }

  .rating-bookend {
    display: inline-block;
    font-size: 1.4em;
    color: #888;
    padding: 0 0.5em;
    cursor: pointer;
  }

  .rating-option {
    display: inline-block;
    position: relative;
    vertical-align: middle;

    transition: all 0.1s;

    input {
      display: none;
    }

    label {
      @include button(#266ACC);
      color: rgba(#fff, 0.8);
      font-size: 1.4em;
      cursor: pointer;

      position: relative;
      margin: 0;
      z-index: 100;
      height: 40px;
      line-height: 40px;

      transition: all 0.1s;

      -ms-touch-action: manipulation;
      touch-action: manipulation;
    }

    input:checked + label {
      height: 50px;
      line-height: 50px;
      text-shadow: 0 1px 1px rgba(#000, 0.5);
      color: rgba(#fff, 0.95);
      box-shadow: inset 0 -4px 5px -3px rgba(#000, 0.2);
    }
  }

  .rating.rated .rating-option {
    label {
      opacity: 0.6;
    }

    input:checked + label {
      opacity: 1;
    }
  }

  .comments-toggle {
    cursor: pointer;
    padding: 0.5em;

    a {
      color: #999;
    }
  }

  .comments-toggle + .comments-input {
    display: none;
    overflow: hidden;
  }

  .comments-input {
    padding: 0.5em 0;
  }

  .user-manager, .user-name, .submission-comments {
    margin: 1em 0;

    em {
      display: block;
      color: #888;
      font-style: italic;
    }

    input, textarea {
      margin-top: 0.5em;
    }
  }

  .submission-submit {
    margin: 1.5em 0 2em;
  }

  .submission-disclaimer {
    color: #999;
    font-size: 0.9em;
  }
}