// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);
// @import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300);
// @import url(http://fonts.googleapis.com/css?family=Hind:400,600);

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
}

body, select, input, textarea {
  color: #333;
}

a {
  color: desaturate(#03f, 50);
  text-decoration: underline;

  &:hover {
    color: #69f;
  }
}

em {
  font-weight: 400;
}

p {
  & + p, & + ul {
    margin-top: 15px;
  }

  strong {
    opacity: 0.9;
  }
}

h1 {
  font-size: 20px;
  color: #555;
  font-weight: 600;
}

h2 {
  font-size: 17px; // eh
  color: #777;
}

h3 {
  font-size: 15px;
  font-weight: 600;
  color: #666;
}

h4 {
  font-size: 14px;
  font-weight: 600;
  color: #555;
}

h1, h2, h3, h4 {
  margin: 5px 0 15px;

  p + & {
    margin: 15px 0 5px;
  }
}

dl {
  margin: 10px;

  dt {
    font-weight: bold;
    color: #777;
  }

  dd + dt {
    margin-top: 10px;
  }
}

hr {
  margin: 1.5em 0.5em 2em;
  border: 0;
  background: 0;
  border-top: 1px #ccc solid;
}

.prose {
  text-align: left;
  margin-bottom: 1em;
}

.muted {
  opacity: 0.8;
}

a .fa {
  text-decoration: inherit;
}
