body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.4em;
}

body, select, input, textarea {
  color: #333;
}

a {
  color: #03f;
  text-decoration: underline;

  &:hover {
    color: #69f;
  }
}

p {
  & + p, & + ul {
    margin-top: 1em;
  }
}

h1 {
  font-size: 20px;
  color: #555;
  font-weight: bold;
}

h2 {
  font-size: 1.2em; // eh
  color: #777;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
  color: #777;
}

h1, h2, h3 {
  margin: 5px 0 15px;
}

hr {
  margin: 1.5em 0.5em 2em;
  border: 0;
  background: 0;
  border-top: 1px #ccc solid;
}

.prose {
  text-align: left;
  margin-bottom: 1em;
}

.muted {
  opacity: 0.8;
}

a .fa {
  text-decoration: inherit;
}
