.user {
  .history {
    .user-submission {
      margin-bottom: 15px;

      h3 {
        small {
        }

        .fa {
          text-decoration: none;
          margin-left: 5px;
          padding: 2px 4px;
        }
      }

      ul {
        li {
          text-indent: -20px;
          margin-left: 20px;

          > * {
            display: inline;
          }

          .name {
            color: #777;

            &:after {
              content: ':';
              margin-right: 10px;
            }
          }

          .rating {
            font-weight: $heavy-font-weight;
          }

          .comment {
            display: block;
            margin: 0 10px;
          }
        }
      }
    }
  }
}