%header
  %h1 Users

  %nav
    %ul
      %li= link_to 'Import', [:import, :admin, :users]

%table
  - @users.each do |user|
    %tr
      %td= user.email
      - if Rails.env.development?
        %td= link_to 'Become', [:become, :admin, user], method: :post
